<!DOCTYPE html>
<html lang="en">
<head>
	<title>Figure It Out</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
.content {
  max-width: 500px;
  margin: auto; }

</style>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact3" style="background-image: url('/static/images/bg-01.jpg');">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" method = "post" action = "/submit">
					<!--					<h6 align = "right"> <a href=""> Help </a> </h6>-->
					<span class="contact3-form-title">
						<img src="/static/images/figure-it-out6.png" height="75" ></br>
						Body Type Calculator
					</span>
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input type = "number" step = "any" class = "form-control"
							   name = "bust" required min="10" max="99" placeholder="Bust Size"> <br>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type = "number" step = "any" class = "form-control"
							   name = "waist" required min="10" max="99" placeholder="Waist Size"> <br>
						<span class="focus-input3"></span>
					</div>
					<div class="wrap-input3 validate-input" data-validate="Name is required">
                        <input type = "number" step = "any" class = "form-control"
							   name = "hip" required min="10" max="99" placeholder="Hip Size"> <br>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    	<input type = "number" step = "any" class = "form-control"
							   name = "highhip" required min="10" max="99" placeholder="High Hip Size"> <br> <br>
						<span class="focus-input3"></span>
					</div>


					<div class="container-contact3-form-btn">
						<a href="/about"><img src="/static/images/body-measure.png" height="100" width = "100" align="right"></a>
						<button class="contact3-form-btn">
							Submit
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
