<!DOCTYPE html>
<html lang="en">
<head>
<div>
    <table width = "100%">
        <tr>
            <th width = "5%" valign="top"> <a href="/"><img src="/static/images/logo_fio.png" height="40"> </a></th>
            <th width = "90%" valign="top"> <h2 align="center"><b> <font color = "#330019" style="font-family:Serif;"> Body Type Calculator </font> </b></h2></th>
            <th width = "5%" valign="top"> <h6 align="right"><b> <a href="/about" > <font color = "#330019"> About </font> </a></b></h6></th>
        </tr>
    </table>
</div>
    <style>
        .myBody
            {
                background-color: #ffecd9;
                font-family:verdana
                font-size: 40px;
            }
         .content
            {
                max-width: 1000px;
                margin: auto;
                margin-top: 40px;
            }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <style rel="stylesheet" type = "text/css" href= "{{ url_for('static',filename = 'css/style.css')}}"></style> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Figure_It_Out</title>
</head>
<body class = "myBody" >
    <div class="content">
        <p>
            <br>
            Bust : <b> {{bust}} </b>   Waist : <b> {{waist}} </b>
            Hip : <b> {{hip}} </b>   High Hip : <b> {{highhip}}</b> <br> <br>

            Your Body Type is <b>{{ value[0] }}</b> <br><br>

            Dressing style that suits you are
            <b>{{ value[2] }}</b> <br><br>

            For more information, <a href = "{{ value[3] }}" target="_blank"> <b>Click Here </b></a> <br><br>
            Sample Dressing Styles  <br> <br>
            <img src = "{{ images[0] }}" align = "center" width = "600" height = "500"> <br><br>
            <img src = "{{ images[1] }}" align = "center" width = "600" height = "500"> <br><br>
            <img src = "{{ images[2] }}" align = "center" width = "600" height = "500"> <br><br>
            <img src = "{{ images[3] }}" align = "center" width = "600" height = "500"> <br><br>
            <img src = "{{ images[4] }}" align = "center" width = "600" height = "500"> <br><br>
        </p>
    </div>
</body>
</html>


